.imageResponsive {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
.titleTournament {
  font-weight: bold;
  font-size: 1.8vw;
}
.listDisplay {
  text-align: center;
  background-color: white;
}
.design {
  box-shadow: 0 0 2px;
  word-wrap: break-word;
}
@media only screen and (max-device-width: 350px) {
  .design {
    word-wrap: break-word;
    width: 100%;
    margin: 10px;
  }
}
