@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

.forget-container {
    width: 100%;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 90vh;
}

.forget-pass-card > p {
    font-family: 'Lato', sans-serif;
}

.forget-pass-header {
    font-style: bold;
    font-size: 2.0rem;
    color: #020001;
}

.forget-pass-card {
    font-style: bold;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: 1px solid black;
}

.forget-pass-description {
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
}

.forget-pass-form-btn {
    width: 100%;
}

.forget-pass-form {
    padding-left: 15%;
    padding-right: 15%;
}


.forget-pass-login-link {
    margin-top : 2%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 600;
}

@media (max-width: 990px) {
    .forget-container {
        margin-left: 5%;
        width: 90%;
    }
}